body{
background-color: #E8E8E8;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Arial;
}

#place{
	background: white;
	font-size: 2.5em;
  width:70%;
  margin:auto;
}

#navigation {
  background-color: #484848;
}

.current-tab {
  /*background: #E8E8E8; color: black; border-bottom: 1px solid white !important;*/
  text-decoration: underline;
  color: white;
}

.tab{
  font-size: 1em;
    color: white;
  padding:1%;
  background-color: #484848;
  border: none;
}

/*https://www.w3schools.com/css/css3_buttons.asp*/
#spinButton {
	margin:auto;
	padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:  #FFFFFF;
  background-color: #484848;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#spinButton:hover {background-color: #303030}

#spinButton:active {
  background-color: #202020;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/
@media screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) { 
      .content{
    display: inline-block;
    float:left;
  }
  #writtenContent{
    width:40%;
    padding-top:12%;
    margin-left:10%;
  }
  #wheel{
    margin-top: -4%;
    margin-left:5%;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
  max-width: 500px;
  /*width:65%;*/
  width: 84%;
    height: auto;
  }
  #images{
    /*width: 55%;*/
    width: 46%;
    height: auto;
    margin-top:-15%;
  }
  #pointer{
    margin-top: 1%;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    max-width: 30px;

  width: 8%;
    height: auto;
    margin-left: 45%;
    /*margin-left: 38%;*/
  }
  #place{
    font-size: 1.7em;
    width: 50%;
    margin-left:45%;
    height: 60px;
  }
  h1{
  text-align: center;
  font-size: 1.8em;
  }
  #shake{
  text-align: center;
  margin-top: -20%;
  width: 80%;
  font-size: 1.2em;
  }
  #spinButton{
    margin-left:25%;
    width:30%;
    font-size: 1em;
  }

  #mainHeader{
    width:50%;
    margin-top: 1%; 
    margin-left: 45%

  }



}

@media screen and (min-width: 813px) and (max-width: 1366px) and (orientation: landscape) { 
      .content{
    display: inline-block;
    float:left;
  }
  #writtenContent{
    width:40%;
    padding-top:15%;
    margin-left:-5%;
  }
  #wheel{
    margin-top: -4%;
    margin-left:5%;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
  /*width:65%;*/
  width: 84%;
    height: auto;
  }
  #images{
    /*width: 55%;*/
    width: 50%;
    height: auto;
    margin-top:0%;
    margin-left: 2%;
  }
  #pointer{
    margin-top: 1%;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    max-width: 30px;

    width: 8%;
    height: auto;
    margin-left: 45%;
    /*margin-left: 38%;*/
  }
  #place{
    font-size: 2em;
    width: 80%;
    margin-left:10%;
    margin-top: -1%;
  }
  h1{
  text-align: center;
  font-size: 2em;
  }
  #shake{
  text-align: center;
  margin-top: -50px;
  width: 80%;
  font-size: 2em;
  }
  #spinButton{
    margin-left:25%;
    width:30%;
    font-size: 1em;
  }

}

@media screen and (min-width: 1367px) and (orientation: landscape) { 
      .content{
    display: inline-block;
    float:left;
  }
  #writtenContent{
    width:30%;
    padding-top:15%;
    margin-left:-5%;
  }
  #wheel{
    margin-top: -4%;
    margin-left:5%;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    width:85%;
    height: auto;
  }
  #images{
    width: 45%;
    margin-top:0%;
    margin-left: 12%;
  }
  #pointer{
    margin-top: 1%;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    max-width: 30px;

    width: 8%;
    height: auto;
    margin-left: 45%;
    /*margin-left: 38%;*/
  }
  #place{
    font-size: 2.1em;
    width: 80%;
    margin-left:10%;
    margin-top: -0.5%;
  }
  h1{
  text-align: center;
  font-size: 2em;
  }
  #shake{
  text-align: center;
  margin-top: -50px;
  width: 80%;
  font-size: 2em;
  }
  #spinButton{
    margin-left:25%;
    width:30%;
    font-size: 2em;
  }

}

/*https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/
/*phone*/
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: portrait) {
    #writtenContent{
    width:80%;
    margin: auto;
  }
  #images{
    margin:auto;
  }
  #wheel{
    margin-top: -15px;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }

  #pointer{
    margin-top: 15px;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    max-width: 30px;
    width: 30%;
    height: auto;
    margin-left: 45%;
  }
  h1{
  text-align: center;
  font-size: 1.5em;
}
#place{
  margin-top: -2.5%; 
  font-size: 1.6em;
  width:85%;
}
h4{
  text-align: center;
  margin-top: -10px;
  width: 80%;
  margin-left: 10%;
  font-size: .9em;
}
#shake{
  text-align: center;
  margin-top: -20px;
  font-size: 1em;
}
#spinButton{
 width:40%;
 margin-left: 30%;

}

.tab{
  font-size: 1em;
}

}

@media screen and (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
    #writtenContent{
    width:80%;
    margin: auto;
  }
  #wheel{
    margin-top: -15px;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    margin-bottom: 20px;
    width: 80%;
    margin-left:10%;
    height: auto;
  }

  #pointer{
    margin-top: 15px;
      /*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    max-width: 30px;
    width: 30%;
    height: auto;
    margin-left: 45%;
  }
  h1{
  text-align: center;
  font-size: 3em;
}
#place{
  margin-top: -2.5%; 
  font-size: 3em;
}
h4{
  text-align: center;
  margin-top: -10px;
  width: 80%;
  margin-left: 10%;
  font-size: 2em;
}
#shake{
  text-align: center;
  margin-top: -20px;
  font-size: 2em;
}
#spinButton{
 width:20%;
 margin-left: 40%;
 font-size: 2em;
}

}



@media screen and (min-width: 1366px) and (max-width: 3000px) and (orientation: portrait) {

  #writtenContent{
  	width:80%;
  	margin: auto;
  }
  #wheel{
  	margin-top: -15px;
  		/*image resize: https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
	max-width: 500px;
	width: 80%;
  	height: auto;
  	margin-bottom: 20px;
  }
   #images{
  	width: 55%;
  	height: auto;
    margin: auto;
  }
  #pointer{
  	margin-top: 15px;
	 max-width: 30px;
	 width: 30%;
  	height: auto;
  	margin-left: 70%;
  }
  h1{
	text-align: center;
	font-size: 2em;
}
#place{
  font-size: 2.3em;
}
h4{
	text-align: center;
	margin-top: -10px;
	width: 80%;
	margin-left: 10%;
	font-size: .9em;
}
#shake{
	text-align: center;
	margin-top: -10px;
	width: 80%;
	margin-left: 10%;
	font-size: 1.2em;
}
#spinButton{
	margin-left: 43%;

}


}


#wheel{

	-webkit-animation: spin1 3s infinite linear;
-moz-animation: spin1 3s infinite linear;
-o-animation: spin1 3s infinite linear;
-ms-animation: spin1 3s infinite linear;
animation: spin1 3s infinite linear;
  display: block;
  animation-play-state: paused;
}
 
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(359deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(359deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(359deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(359deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(359deg);}
} 